/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.container-fluid{
  padding-right:0;
  padding-left:0;
}

/*
 * Header
 */
.navigation {
  background-color: rgba(0, 0, 0, .3);
  z-index: 10;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top:0px;
}

.masthead-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

.nav-masthead, .masthead-brand{
  margin: 2em;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .8);
  font-size: 0.9em;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(255, 255, 255);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


.image_col {
  /*height:800px;*/
  background-size: cover;
  filter: grayscale(100%)
}
.image_col:hover {
filter: grayscale(0%)
}

.index-page h2{
  padding-top: 20%;
  padding-left: 5px;

}

.carousel-item {
  max-height: 800px;
  max-width: 100%;
}

/*
 * Cover
 */
.cover {
  padding: 0 0;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
