/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/*
* Font Styles
*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Heebo', 'Montserrat', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  text-shadow: none;
  color: #000;
}

h4 {
  font-size: 1.3vw;
  font-weight: 300;
}

/*
 * Header
 */
.navigation {
  background-color: rgba(255, 255, 255, 255);
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;

  text-shadow: none;
}

.navigation .row {
  margin: 0;
}
.navigation .col-sm {
  margin: 1em;
}

.masthead-brand {
  font-family: 'Montserrat';
  font-size: 2vw;
}

.maintitle {
  font-family: 'Oswald';
  font-weight: lighter;
  font-size: 1em;
  color: black;
  text-align: center;
}

.subtitle {
  font-family: 'Oswald';
  font-weight: lighter;
  font-size: 2.5em;
  color: black;
  text-align: center;
}

.nav .nav-link {
  margin-left: 1em;
}


.nav-masthead, .masthead-brand {
  font-family: Oswald;
  color: rgba(0, 0, 0, 255);
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 300;
  color: rgba(0, 0, 0, 255);
  font-size: 1.1em;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(100, 100, 100);
}

.nav-masthead .nav-link+.nav-link {
  font-family: Oswald;
}

.nav-masthead .active {
  color: rgba(100, 0, 40);
}

.std-padding-top {
  padding-top: 20%;
}

.carousel-item {
  /* max-height: 800px; 
  max-width: 100%;*/
}

.carousel {
  height: 400px;
}


/*
 * Cover
 */
.cover {
  padding: 0 0;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}