.index-page h1 {
  font-size: 4.6vw;
  font-weight: 200;
  /* font-stretch: ultra-stretch; */
  color: #000;
}
.index-page h2 {
  font-family: Oswald;
  font-size: 2vw;
  font-weight:200;
  color: #000;
}
